<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shine.hisip.order.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shine.hisip.common.domain.OrderInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />
    <result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="DOCTOR_ID" property="doctorId" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="ORDER_DATE" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="ORDER_TIME" property="orderTime" jdbcType="VARCHAR" />
    <result column="CHARGE" property="charge" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
    <result column="SOURCE_ID" property="sourceId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="OrderDto" type="com.shine.hisip.order.dto.OrderDto" extends="BaseResultMap">
    <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PATIENT_ID, PATIENT_NAME, CARD_NO, DOCTOR_ID, DOCTOR_NAME, ORDER_DATE, ORDER_TIME, 
    CHARGE, STATUS, ORDER_TYPE, SOURCE_ID, CREATE_TIME, UPDATE_TIME, DEPT_ID, DEPT_NAME, 
    OPEN_ID,ADDRESS
  </sql>

  <select id="getOrderByOpenId" resultMap="OrderDto" parameterType="com.shine.hisip.order.dto.OrderDto" >
    select
    o.ID, o.PATIENT_ID, o.PATIENT_NAME, o.CARD_NO, o.DOCTOR_ID, o.DOCTOR_NAME, o.ORDER_DATE, o.ORDER_TIME,
    o.CHARGE, o.STATUS, o.ORDER_TYPE, o.SOURCE_ID, o.CREATE_TIME, o.UPDATE_TIME, o.DEPT_ID, o.DEPT_NAME,
    o.OPEN_ID,ADDRESS,p.DICT_NAME AS STATUS_NAME
    from ORDER_INFO o
    LEFT JOIN PUBLIC_DICT p ON o.STATUS = p.DICT_CODE
    where p.DICT_TYPE = 'STATUS_TYPE'
    <if test="openId != null and openId != ''">
      AND o.OPEN_ID = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="patientId != null and patientId != ''">
      AND o.PATIENT_ID = #{patientId,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''">
      AND o.STATUS = #{status,jdbcType=VARCHAR}
    </if>
    <if test="id != null and id != ''">
      AND o.ID = #{id,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getOrderDetail" resultMap="BaseResultMap" parameterType="com.shine.hisip.order.dto.OrderDto" >
    select
    o.ID, o.PATIENT_ID, o.PATIENT_NAME, o.CARD_NO, o.DOCTOR_ID, o.DOCTOR_NAME, o.ORDER_DATE, o.ORDER_TIME,
    o.CHARGE, o.STATUS, o.ORDER_TYPE, o.SOURCE_ID, o.CREATE_TIME, o.UPDATE_TIME, o.DEPT_ID, o.DEPT_NAME,
    o.OPEN_ID,o.ADDRESS
    from ORDER_INFO o
    where 1=1
    <if test="patientId != null and patientId != ''">
      AND o.PATIENT_ID = #{patientId,jdbcType=VARCHAR}
    </if>
    <if test="id != null and id != ''">
      AND o.ID = #{id,jdbcType=VARCHAR}
    </if>
  </select>
  <!--001 待支付 002 预约成功 003 预约失败-->
  <select id="weekCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(*)
    from order_info
    where UPDATE_TIME between trunc(sysdate, 'd') + 1 and
    trunc(sysdate, 'd') + 7 and doctor_id = #{doctorId,jdbcType=VARCHAR} AND STATUS='002'
  </select>
  <!--001 待支付 002 预约成功 003 预约失败-->
  <select id="monthCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(*)
    from order_info
    where UPDATE_TIME between trunc(sysdate, 'mm') and last_day(trunc(sysdate))
    and doctor_id = #{doctorId,jdbcType=VARCHAR} AND STATUS='002'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ORDER_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shine.hisip.common.domain.OrderInfo" >
      <selectKey keyProperty="id" resultType="String" order="BEFORE">
          SELECT sys_guid() FROM dual
      </selectKey>
    insert into ORDER_INFO (ID, PATIENT_ID, PATIENT_NAME, 
      CARD_NO, DOCTOR_ID, DOCTOR_NAME, 
      ORDER_DATE, ORDER_TIME, CHARGE, 
      STATUS, ORDER_TYPE, SOURCE_ID, 
      CREATE_TIME, UPDATE_TIME, DEPT_ID, 
      DEPT_NAME, OPEN_ID,ADDRESS)
    values (#{id,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, 
      #{cardNo,jdbcType=VARCHAR}, #{doctorId,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{orderDate,jdbcType=TIMESTAMP}, #{orderTime,jdbcType=VARCHAR}, #{charge,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{sourceId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deptId,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR} ,#{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shine.hisip.common.domain.OrderInfo" >
      <selectKey keyProperty="id" resultType="String" order="BEFORE">
          SELECT sys_guid() FROM dual
      </selectKey>
    insert into ORDER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="patientName != null" >
        PATIENT_NAME,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="doctorId != null" >
        DOCTOR_ID,
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME,
      </if>
      <if test="orderDate != null" >
        ORDER_DATE,
      </if>
      <if test="orderTime != null" >
        ORDER_TIME,
      </if>
      <if test="charge != null" >
        CHARGE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="sourceId != null" >
        SOURCE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="charge != null" >
        #{charge,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shine.hisip.common.domain.OrderInfo" >
    update ORDER_INFO
    <set >
      <if test="patientId != null" >
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        DOCTOR_ID = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        ORDER_DATE = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null" >
        ORDER_TIME = #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="charge != null" >
        CHARGE = #{charge,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        SOURCE_ID = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shine.hisip.common.domain.OrderInfo" >
    update ORDER_INFO
    set PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      DOCTOR_ID = #{doctorId,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      ORDER_DATE = #{orderDate,jdbcType=TIMESTAMP},
      ORDER_TIME = #{orderTime,jdbcType=VARCHAR},
      CHARGE = #{charge,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      SOURCE_ID = #{sourceId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DEPT_ID = #{deptId,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>