<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shine.hisip.dict.dao.PublicDictMapper" >
  <resultMap id="BaseResultMap" type="com.shine.hisip.common.domain.PublicDict" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="dictName" jdbcType="VARCHAR" />
    <result column="DICT_CODE" property="dictCode" jdbcType="VARCHAR" />
    <result column="DICT_COMMENT" property="dictComment" jdbcType="VARCHAR" />
    <result column="DICT_TYPE" property="dictType" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DICT_NAME, DICT_CODE, DICT_COMMENT, SORT_NO, DICT_TYPE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    ID, DICT_NAME, DICT_CODE,DICT_TYPE
    from PUBLIC_DICT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getListByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    ID, DICT_NAME, DICT_CODE,DICT_TYPE,DICT_COMMENT,SORT_NO,CREATE_TIME,UPDATE_TIME
    from PUBLIC_DICT
    where DICT_TYPE = #{type,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PUBLIC_DICT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shine.hisip.common.domain.PublicDict" >
    insert into PUBLIC_DICT (ID, DICT_NAME, DICT_CODE, 
      DICT_COMMENT, SORT_NO, CREATE_TIME,DICT_TYPE
      UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, 
      #{dictComment,jdbcType=VARCHAR},#{dictType,jdbcType=VARCHAR}, #{sortNo,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shine.hisip.common.domain.PublicDict" >
    insert into PUBLIC_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dictName != null" >
        DICT_NAME,
      </if>
      <if test="dictCode != null" >
        DICT_CODE,
      </if>
      <if test="dictComment != null" >
        DICT_COMMENT,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null" >
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictComment != null" >
        #{dictComment,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shine.hisip.common.domain.PublicDict" >
    update PUBLIC_DICT
    <set >
      <if test="dictName != null" >
        DICT_NAME = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null" >
        DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictComment != null" >
        DICT_COMMENT = #{dictComment,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shine.hisip.common.domain.PublicDict" >
    update PUBLIC_DICT
    set DICT_NAME = #{dictName,jdbcType=VARCHAR},
      DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      DICT_COMMENT = #{dictComment,jdbcType=VARCHAR},
      SORT_NO = #{sortNo,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>